// color
$main-color: #000;
$second-color: #f75023;
$para-color: #6f6b80;
$white-color: #fff;
$green-color: #1cbe59;
$green-color-variants: #ddf5e6;
$purple-color: #8067f0;
$purple-color-variants: #ece8fd;
$yellow-color: #f0c45c;
$orange-color:#fedfd7;
$color-1: #ff9a00;
$color-2: #00a9ff;
$color-3: #6e50f0;
$border-color: #eee;
$bd-color-1: #fff;
$bd-color-2: #f2f5fb;
$background-color-3: transparent;
$photoshop-bg: #001631;
$illustrator-bg: #390000;
$body-font: 'Open Sans', sans-serif;
$second-font: 'Jost', sans-serif;
$transition: all 400ms ease;